@using UrunTakipSistemi.Models.Entity
@model List<TBLURUNLER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .Search-Container {display:inline-flex;justify-content:flex-end;margin:10px 0;}
    .form-control{width:200px !important}
</style>
<h2>Ürünler</h2>

@using (@Html.BeginForm("Index", "Urun", FormMethod.Get))
{
    <div class="Search-Container col-lg-12">
        @Html.TextBox("search", "", new { placeholder = "Search", @class="form-control" })
        <input type="submit" class="btn btn-default btn-xs" name="search" value="Ara">
    </div>
}

<table class="table table-bordered">
    <tr>
        <td>ID</td>
        <td>AD</td>
        <td>MARKA</td>
        <td>STOK</td>
        <td>ALIŞ FİYATI</td>
        <td>SATIŞ FİYATI</td>
        <td>KATEGORİ</td>
        <td>SİL</td>
        <td>GÜNCELLE</td>
    </tr>
    @foreach (var urn in Model)
    {
        <tr>
            <td>@urn.ID</td>
            <td>@urn.AD</td>
            <td>@urn.MARKA</td>
            <td>@urn.STOK</td>
            <td>@urn.ALISFIYAT</td>
            <td>@urn.SATISFIYAT</td>
            <td>@urn.TBLKATEGORI.AD</td>
            <td><a href="/Urun/UrunSil/@urn.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Urun/UrunGetir/@urn.ID" class="btn btn-info">Güncelle</a></td>
        </tr>
    }
</table>

<a href="/Urun/YeniUrun" class="btn btn-success">Yeni Ürün</a>